---
name: linter
on: [push]
permissions: read-all

jobs:
  opentofu-fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: 1.8.0
      - run: tofu fmt -recursive --diff -check
